{# templates/home/index.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Symfony</title>
</head>
<body>
    <h1>Symfony Homepage!</h1>
     <a href="{{ path('history_list') }}" class="button">Go to History List</a>

</body>
</html>